<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <title>{% block title %}Dashboard{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="{% static 'css/base_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard_style.css' %}">
</head>
<body>
        <div class="sidebar"  id="sidebar">
            {% if user.student.profile_photo %}
                <div class="profile-photo-container">
                    <img src="{{ user.student.profile_photo.url }}" alt="Profile Photo" class="img-thumbnail" style="width: 60px; height: 60px; border-radius: 300px; object-fit: cover; ">
                </div>
            {% else %}
                <p>No profile photo.</p>
            {% endif %}

        <h2 style="color: white; display: flex; justify-content: center;">{{ user.username }}</h1>
        
        <ul>
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li><a href="{% url 'profile' %}">Profile</a></li>
            <li><a href="{% url 'submit_feedback' %}">Submit Feedback</a></li>
            <li><a href="{% url 'view_feedback' %}">View Feedback</a></li>
            <li>
                <form method="POST" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="logout-button">Logout</button>
                </form>
            </li>
        </ul>

        <div class="sidebar-footer">
            <a href="#" target="_blank">Back to Website</a>
        </div>

        

    </div>
    <button id="toggle-button" class="toggle-button">☰</button>


    <div class="container mt-4">
        {% block content %}
        {% endblock %}
    </div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/dashboard_script.js' %}"></script>
</body>
</html>
