<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Dashboard{% endblock %}</title>

    
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">


    
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
   

</head>


<body class="">
    <!-- Top nav bar -->
    <!-- <div class="top-nav-bar"  >
        <nav class="mx-auto px-10 shadow-md">
            <ul class="flex mx-auto justify-evenly">
                <li>logo</li>
                <li>
                    <input class="border pl-4 rounded-xl" id="" placeholder="search.." >
                </li>

                <li>
                    <a href="{% url 'notifications' %}" class="nav-link">
                        <i class="bi bi-bell"></i>
                        {% if unread_count > 0 %}
                            <span class="badge badge-pill badge-danger" id="notification-badge">{{ unread_count }}</span>
                        {% else %}
                            <span class="badge badge-pill badge-danger" id="notification-badge" style="display: none;">0</span>
                        {% endif %}
                    </a>
                </li>

                <li>
                    {% if user.student.profile_photo %}
                        <div class="">
                            <img src="{{ user.student.profile_photo.url }}" alt="Profile Photo" class="img-thumbnail" style="width: 40px; height: 40px; border-radius: 300px; object-fit: cover; margin-top: 3px; margin-bottom: 3px; margin-right: 5px; ">
                        </div>
                    {% else %}
                        <p>No profile photo.</p>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </div> -->
    <button  id="toggle-button" class="block md:hidden text-black focus:outline-none z-50 absolute top-2 right-4">☰</button>

<!-- sidebar and maincontent box -->
 <div class="flex h-[650px] relative">
    
    <div id="sidebar" class=" border-r-2 h-full w-[300px] mx-6 pt-4 fixed md:static  left-[-25px] transform -translate-x-full  md:translate-x-0 transition-transform duration-200 ease-in-out bg-white "  >
        

        <div class="flex justify-center cursor-pointer">
            
            {% if user.student.profile_photo %}
            <div class="">
                <img src="{{ user.student.profile_photo.url }}" alt="Profile Photo" class="w-20 h-20 rounded-full object-cover">
            </div>
            {% else %}
                <p>No profile photo.</p>
            {% endif %}

        </div>

        <h2 class="text-blue-700 text-center  hover:text-emerald-400 cursor-pointer">{{ user.username }}</h1>
    
     <ul class=" text-center">

        <li class="my-4" ><a href="{% url 'dashboard' %}">Dashboard</a></li>
        <li class="my-4"><a href="{% url 'profile' %}">Profile</a></li>
        <li class="my-4"><a href="{% url 'submit_feedback' %}">Submit Feedback</a></li>
        <li class="my-4"><a href="{% url 'view_feedback' %}">View Feedback</a></li>
        <li class="my-4"><a href="{% url 'payment_form' %}">Make Payment</a></li>

        <!-- <li>
            <a href="{% url 'notifications' %}" class="nav-link">
                <i class="bi bi-bell"></i>
                {% if unread_count > 0 %}
                    <span class="badge badge-pill badge-danger" id="notification-badge">{{ unread_count }}</span>
                {% else %}
                    <span class="badge badge-pill badge-danger" id="notification-badge" style="display: none;">0</span>
                {% endif %}
            </a>
        </li> -->

        <li class="my-4">
            <a class="nav-link" href="{% url 'discussion_board_list' %}">Discussion boards</a>
        </li>

        <li class="my-4">
            <a class="nav-link" href="{% url 'chat' %}">Community</a>
        </li>

        <li class="my-4">
            <form method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="logout-button">Logout</button>
            </form>
        </li>

        <li class="my-4"> 
            <a href="#" target="_blank">Back to Website</a>
        </li>

     </ul>

   



    </div>


    <!-- container -->
    <div id="container" class="container mx-4 pt-4">
        <!-- nav -->
        <div class="flex justify-between">
            <div class="container  mt-4 w-40 md:w-full">
                <form action="" method="GET" class="flex justify-left">
                    <input 
                        type="text" 
                        name="query" 
                        placeholder="Search..." 
                        class="w-full max-w-md px-4  border rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
                    >
                    <!-- <button 
                        type="submit" 
                        class="ml-2 px-4 py-2 text-white bg-blue-500 rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
                    >
                        Search
                    </button> -->
                </form>
            </div>

            <div class="flex">

                <div class="flex justify-center items-center cursor-pointer w-8">
            
                    {% if user.student.profile_photo %}
                    <div class="">
                        <img src="{{ user.student.profile_photo.url }}" alt="Profile Photo" class="w-8 h-8 rounded-full object-cover">
                    </div>
                    {% else %}
                        <p>No profile photo.</p>
                    {% endif %}
        
                </div>

                <div class="py-4 ml-2">
                    <p class="text-sm">{{ user.first_name }}</p>
                    <p class="text-sm">3rd year</p>
                </div>

            </div>
        </div>

        {% block content %}
        {% endblock %}
    </div>

    
</div>

<!-- <h1 class="text-6xl font-bold text-center text-emerald-500">Hello, Tailwind!</h1> -->




 </div>
    


   

    <script>

        document.addEventListener("DOMContentLoaded", function() {
            const toggleButton = document.getElementById("toggle-button");
            const sidebar = document.getElementById("sidebar");

            toggleButton.addEventListener("click", function() {
                console.log('Toggle button clicked'); // Debugging line
                sidebar.classList.toggle("-translate-x-full");
            });
        });


        // notifications script
        document.addEventListener("DOMContentLoaded", function () {
            function fetchUnreadNotifications() {
                fetch('{% url "unread_notification_count" %}')
                    .then(response => response.json())
                    .then(data => {
                        const badge = document.getElementById('notification-badge');
                        if (data.unread_count > 0) {
                            badge.style.display = 'inline';
                            badge.textContent = data.unread_count;
                        } else {
                            badge.style.display = 'none';
                        }
                    })
                    .catch(error => {
                        console.error('Error fetching unread notifications:', error);
                    });
            }

            setInterval(fetchUnreadNotifications, 5000); // Check every 5 seconds
            fetchUnreadNotifications(); // Initial check
        });
        

    </script>


    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->

    
</body>
</html>
