<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Dashboard{% endblock %}</title>

    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet"> 
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />

</head>


<body class="h-[100vh]">

    <button  id="toggle-button" class="block md:hidden text-white focus:outline-none z-50 fixed text-xl top-20 right-0 bg-[#925FE2]  px-4 py-4 rounded-l-md">☰</button>
<!-- sidebar and maincontent box -->
 <div class="flex max-h-full relative h-[100vh]">
    
    <div id="sidebar" class="w-[300px] h-[100vh] mx-0 bg-white pt-4 fixed md:static  left-[-25px] transform -translate-x-full  md:translate-x-0 transition-transform duration-200 ease-in-out "  >
        

        <div class="flex justify-center cursor-pointer">
            
            {% if user.student.profile_photo %}
            <div class="">
                <img src="{{ user.student.profile_photo.url }}" alt="Profile Photo" class="w-20 h-20 rounded-full object-cover">
            </div>
            {% else %}
                <p>No profile photo.</p>
            {% endif %}

        </div>

        <h2 class=" text-center  hover:text-emerald-400 cursor-pointer animate-pulse font-bold duration-200">{{ user.username }}</h1>
    
     <ul class=" text-center">

        <li class="my-4 " ><a href="{% url 'dashboard' %}" class="hover:font-semibold duration-200" >Dashboard</a></li>
        <li class="my-4"><a href="{% url 'profile' %}" class="hover:font-semibold duration-200">Profile</a></li>
        <li class="my-4"><a href="{% url 'submit_feedback' %}" class="hover:font-semibold duration-200">Submit Feedback</a></li>
        <li class="my-4"><a href="{% url 'view_feedback' %}" class="hover:font-semibold duration-200">View Feedback</a></li>
        <li class="my-4"><a href="{% url 'initiate_payment' %}" class="hover:font-semibold duration-200">Make Payment</a></li>

        <!-- <li>
            <a href="{% url 'notifications' %}" class="nav-link">
                <i class="bi bi-bell"></i>
                {% if unread_count > 0 %}
                    <span class="badge badge-pill badge-danger" id="notification-badge">{{ unread_count }}</span>
                {% else %}
                    <span class="badge badge-pill badge-danger" id="notification-badge" style="display: none;">0</span>
                {% endif %}
            </a>
        </li> -->

        <li class="my-4">
            <a class=" hover:font-semibold duration-200" href="{% url 'discussion_board_list' %} ">Discussion boards</a>
        </li>

        <li class="my-4 ">
            <a class="hover:font-semibold duration-200" href="{% url 'chat' %}">Community</a>
        </li>

        <!-- <li>
            <a href="{% url 'upload_result' %}" class="text-blue-500 hover:text-blue-700">Upload Result</a>
        </li> -->

        <li>
            <a href="{% url 'student_results' student_id=request.user.student.student_id %}" class="hover:font-semibold duration-200">Results</a>
        </li>

        

        <li class="my-4"> 
            <a href="#" target="_blank" class="hover:font-semibold duration-200">Back to Website</a>
        </li>

      

     </ul>


     <div class="my-4 flex justify-center align-bottom">
        <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="hover:font-semibold duration-200">Logout</button>
        </form>
    </div>
   



    </div>


    <!-- container -->
    <div id="container" class="container px-4 pt-4 bg-emerald-50">
        <!-- nav -->
        <div class="flex justify-between">
            <div class="container  mt-4 w-40 md:w-full">
                <form action="" method="GET" class="flex justify-left">
                    <input 
                        type="text" 
                        name="query" 
                        placeholder="Search..." 
                        class="w-full max-w-md px-4  border rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
                    >
                    <!-- <button 
                        type="submit" 
                        class="ml-2 px-4 py-2 text-white bg-blue-500 rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
                    >
                        Search
                    </button> -->
                </form>
            </div>

            <div class="flex">

                <div class="flex justify-center items-center cursor-pointer w-8">
            
                    {% if user.student.profile_photo %}
                    <div class="">
                        <img src="{{ user.student.profile_photo.url }}" alt="Profile Photo" class="w-8 h-8 rounded-full object-cover">
                    </div>
                    {% else %}
                        <p>No profile photo.</p>
                    {% endif %}
        
                </div>

                <div class="py-0 ml-1 text-center items-center text-xs">
                    <p class=" font-thin">{{ user.first_name }}</p>
                    <p class=" font-thin">3rd year</p>
                </div>

            </div>
        </div>

        {% block content %}
        {% endblock %}
    </div>

    
</div>

<!-- <h1 class="text-6xl font-bold text-center text-emerald-500">Hello, Tailwind!</h1> -->




 </div>
    


   

    <script>

        document.addEventListener("DOMContentLoaded", function() {
            const toggleButton = document.getElementById("toggle-button");
            const sidebar = document.getElementById("sidebar");

            toggleButton.addEventListener("click", function() {
                console.log('Toggle button clicked'); // Debugging line
                sidebar.classList.toggle("-translate-x-full");
            });
        });


        // notifications script
        document.addEventListener("DOMContentLoaded", function () {
            function fetchUnreadNotifications() {
                fetch('{% url "unread_notification_count" %}')
                    .then(response => response.json())
                    .then(data => {
                        const badge = document.getElementById('notification-badge');
                        if (data.unread_count > 0) {
                            badge.style.display = 'inline';
                            badge.textContent = data.unread_count;
                        } else {
                            badge.style.display = 'none';
                        }
                    })
                    .catch(error => {
                        console.error('Error fetching unread notifications:', error);
                    });
            }

            setInterval(fetchUnreadNotifications, 5000); // Check every 5 seconds
            fetchUnreadNotifications(); // Initial check
        });
        

    </script>


    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->

    
</body>
</html>
