{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>{{ board.name }}</h2>
    <p>{{ board.description }}</p>
    <a href="{% url 'new_post' board_pk=board.pk %}" class="btn btn-primary">New Post</a>
    <ul class="list-group mt-4">
        {% for post in posts %}
            <li class="list-group-item">
                <a href="{% url 'post_detail' board_pk=board.pk post_pk=post.pk %}">{{ post.title }}</a>
                <p>by {{ post.author }}</p>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
