{% extends "base.html" %}

{% block content %}

<h3 class="font-bold mt-4">Profile</h3>


<div class="flex flex-col md:flex-row gap-8 my-6">

    <div class=" w-[300px] bg-white rounded-xl py-6 px-4 cursor-pointer">
        <div class="flex justify-center mb-4">
            {% if user.student.profile_photo %}
                <img src="{{ user.student.profile_photo.url }}" alt="Profile Photo" class="" style="width: 100px; height: 100px; border-radius: 300px; object-fit: cover;">
            {% else %}
                <p>No profile photo.</p>
            {% endif %}
        </div>
        <div class="mb-6">
            <h1 class="text-center font-semibold text-xl">{{ user.first_name }} {{ user.last_name}}</h1>
        </div>

        <form method="post" enctype="multipart/form-data" class="mt-4">
            {% csrf_token %}
            {{ profile_form }}
            <button type="submit" class="bg-[#925FE2] hover:bg-[#855cc8] duration-200 text-white rounded-sm mt-2 px-8 py-2">Save</button>
        </form>
    </div>

    <div class="bg-white rounded-xl px-4 py-4 cursor-pointer">
        <p class="font-bold mb-4">Information</p>
        <p>Name: {{ student.name }}</p>
        <p>Student ID: {{ student.student_id }}</p>
        <p>School Name: {{ student.school_name }}</p>
        <p>Favorite Subject: {{ student.favorite_subject }}</p>
        <!-- Add any other fields you want to display -->

        <div class="mt-4">
            <a href="{% url 'update_profile' %}" class="bg-[#925FE2] hover:bg-[#855cc8] duration-200 text-white rounded-sm px-4 py-2 ">Update Profile</a>
        </div>
    </div>

</div>

    









{% endblock %}




</body>
</html>
