/* Apply styles to the body */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f0f0f0;
}

.profile-photo-cover {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 3px solid #ccc; /* Optional: for a border around the profile photo */
    margin: 0 auto; /* Center the image horizontally */
}


/* Style the header */
h1 {
    color: #333;
    display: flex;
   
}



/* Style links */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



.navbar-menu li {
    float: left;
}

.navbar-menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar-menu li a:hover {
    background-color: #575757;
}

.logout-form {
    margin: 0;
    padding: 0;
}


.logout-button:hover {
    background-color: #575757;
}


.hello-text {
    color: skyblue;
}

.list-group {
    width: 100%;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

.list-group-item {
    word-wrap: break-word;
    white-space: pre-wrap; /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -pre-wrap; /* Opera */
    white-space: -o-pre-wrap; /* Opera */
    word-break: break-word; /* Internet Explorer */
}

@media (max-width: 768px) {
    .list-group-item {
        font-size: 0.9em; /* Adjust font size for smaller screens */
    }
}
